/problematicas/problema1/nbproject/private/
/problematicas/problema1/build/
/problematicas/problema2/nbproject/private/
/problematicas/problema2/build/
/problematicas/problema3/nbproject/private/
/problematicas/problema3/build/
